.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
/data/
/inst/shinys/**/*.html
/inst/tutorials/**/*.html
/inst/tutorials/**/*data
_slides/chapter1/chapter1-*
_slides/chapter2/chapter2-*
