.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
/data/
/inst/shinys/**/*.html
/inst/tutorials/**/*.html
/inst/tutorials/**/*data
inst/tutorials/chapter2/chapter2_files/
_slides/chapter1/chapter1-*
_slides/chapter2/chapter2-*
_slides/chapter6/chapter6_files/
_slides/**/*.html
