.midcenter {
  position: fixed;
  top: 50%;
  left: 50%;
}
.small-code pre code {
  font-size: 1em;
}

.quote-container blockquote p {
  display: block;
  font-size: 8px;
}

#future-steps {
  color: blue;
}

.emphasized {
  font-size: 1.2em;
}
